<!-- <div *ngIf="showSplash"
  class="fixed inset-0 flex items-center justify-center bg-gradient-to-br from-green-700 to-green-400 z-50 animate-slide-in-left">
  <img src="../../assets/images/logo_c.png" alt="Logo" class="w-90 h-90 animate-pulse opacity-0 animated-logo" />
</div> -->

<div class="flex h-screen" *ngIf="!showSplash">
  <!-- Sidebar -->
  <app-nav-side *ngIf="showSidebar"></app-nav-side>
  <!-- Main Content -->
  <div class="flex-1 flex justify-center items-start overflow-auto bg-gray-50 p-4">
    <div class="w-full ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>