<div  [ngClass]="{
  'translate-x-30': isExpanded &&!isMobile ,
  'translate-x-11': !isExpanded &&!isMobile
}"
class="max-w-2xl mx-auto p-6 mt-15 bg-white shadow-md rounded-xl space-y-6">
  <h2 class="text-2xl font-semibold text-gray-800 text-center">Send Notification</h2>

  <div class="space-y-4">
    <div>
      <label class="block text-gray-600 mb-1">Title</label>
      <input [(ngModel)]="title" type="text" placeholder="Enter title"
        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
    </div>

    <div>
      <label class="block text-gray-600 mb-1">Message</label>
      <textarea [(ngModel)]="body" rows="4" placeholder="Enter message"
        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
    </div>


    <!-- Group Mode -->
    <div>
      <label class="block text-gray-600 mb-1">Select Group</label>
      <select [(ngModel)]="selectedGroup"
        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
        <option value="" disabled [selected]="!selectedGroup">Please select a group</option>
        <option *ngFor="let group of groups" [ngValue]="group">{{ group.name }}</option>
      </select>
      <div *ngIf="!selectedGroup" class="text-sm text-gray-500 mt-1">
        Please select a group to send the notification to.
      </div>
    </div>



    <div>
      <button (click)="sendNotification(selectedGroup?.shortCode ?? null)" [disabled]="isSending"
        class="w-full bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded-lg transition">
        {{ isSending ? 'Sending...' : 'Send Notification' }}
      </button>
    </div>

  </div>
</div>