.example-container {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
    /* The background property is added to clearly distinguish the borders between drawer and main
       content */
    background: #eee;
  }
  
  @keyframes glow {
    0% { 
        filter: brightness(30%) drop-shadow(0 0 5px rgba(255, 255, 150, 0.2)); 
        opacity: 0.2; 
        transform: scale(0.9) translateY(-10px);
    }
    50% { 
        filter: brightness(180%) drop-shadow(0 0 30px rgba(255, 255, 150, 0.9)); 
        opacity: 1; 
        transform: scale(1.1) translateY(0px);
    }
    100% { 
        filter: brightness(100%) drop-shadow(0 0 5px rgba(255, 255, 150, 0.2)); 
        opacity: 1; 
        transform: scale(1) translateY(0px);
    }
}

.animate-glow {
    animation: glow 2.5s ease-in-out forwards;
}
